<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>JS - Node BoilerPlate</title>
    <meta name="description" content="New App">
    <meta name="author" content="Deloitte VizStudio">

    <link rel="shortcut icon" href="http://www.passportjs.org/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <!--script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stapes/1.0.0/stapes.min.js"></script>

    <script type="text/javascript" src="/js/app/DAL.js"></script>
    <script type="text/javascript" src="/js/lib/toastr.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>

</head>

<body unresolved>
    <div class="container-fluid pad-0">
        {{{body}}}
    </div>
    


    <div class="footer"> </div>
</body>

</html>