<script type="text/javascript" src="js/app/login.js"></script>
<div class="login">
    <form class="form-signin">

        <p class="h5 text-center p-2">
            <span class="text-success">Passport</span>&nbsp;<span class="text-info">JWT </span>Login
        </p>
        <input class="form-control login-control" id="useremail" type="text" placeholder="Email Address"
            autocomplete="on"><br />
        <input class="form-control login-control" id="password" type="password" placeholder="Password"
            autocomplete="off"><br />
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-success w-100" id="login">Login</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-info w-100" id="register">Register</button>
            </div>
        </div>

    </form>
</div>