<script type="text/javascript" src="js/app/register.js"></script>
<div class="register">
    <form class="form-signin col-sm-offset-4 col-sm-4">

        <p class="h5 text-center p-2">
            <span class="text-success">Passport</span>&nbsp;<span class="text-info">JWT </span>Sign Up
        </p>
        <input class="form-control login-control" id="reg_name" type="text" placeholder="Name *" autocomplete="on"><br />
        <input class="form-control login-control" id="reg_email" type="text" placeholder="Email Address *" autocomplete="on"><br />
        <input class="form-control login-control" id="reg_password" type="password" placeholder="Password *" autocomplete="off"><br />
        <input class="form-control login-control" id="reg_confpassword" type="password" placeholder="Confirm Password *" autocomplete="off"><br />
        <button class="btn btn-lg btn-info mb-3 w-100" id="addNewUser">Register New User</button>
        <button class="btn btn-lg btn-success w-100" id="loginPage">Back to Login</button>


    </form>
</div>